@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  color: white;
  background-color: #111113;
  font-family: "Poppins", sans-serif;
}

/* Utilities */
.letter-3 {
  letter-spacing: 3px;
}

/* Components */
nav.navbar {
  background-color: #111113;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.navbar-brand {
  color: #ff0000;
}

.card-body > h6.letter-3 {
  text-transform: uppercase;
}

.card {
  background-color: #111113;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a.side-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.border-red {
  border-radius: 0px;
  border-top: 3px solid #ff0000;
}

.link-article {
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}

.social-media {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.social-media a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
  margin-bottom: 15px;
}

.social-media a:hover {
  transform: translateY(-10px);
  color: #ff0000;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.img-wrapper img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-size: cover;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .social-media {
    position: static;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-media a {
    margin-right: 20px;
  }
}
